/* @import 'tailwindcss'; */
@import "bootstrap-icons";
@import "../../node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.css";

img.icon {
    transition: 0.3s;
    scale: 1;
}

img.icon:hover {
    transform: scale(1.3);
}

@media only screen and (max-width: 1080px) {
    .sub-judul {
        width: 95% !important;
        font-size: 0.8rem !important;
    }
    .main-title {
        font-size: 1rem;
    }
    .logo,
    .icon {
        width: 30px;
        height: 40.5px;
    }
    .btn1 {
        font-size: 1.5rem;
    }
    .btn2 {
        font-size: 1rem;
    }
    .width-label-1 {
        width: 50%;
    }
    .width-label-2 {
        width: 50%;
    }
}
@media only screen and (min-width: 1081px) {
    .sub-judul {
        width: 75% !important;
        font-size: 1.6rem !important;
    }
    .main-title {
        font-size: 2rem;
    }
    .logo,
    .icon {
        width: 75px;
        height: 90.5px;
    }
    .btn1 {
        font-size: 2.2rem !important;
    }
    .btn2 {
        font-size: 1.4rem !important;
    }
    .width-label-1 {
        width: 25%;
    }
    .width-label-2 {
        width: 30%;
    }
}
